# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Environnements virtuels
venv/
.venv/
env/

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# Modeles volumineux (optionnel - decommenter si vous ne voulez pas versionner les .joblib)
# models/*.joblib
